/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                            Nextflow config file for genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Defines reference genome using absolute path to the provided reference genome files.
                                    Can be used like: $params.genome_base / --genome_base
----------------------------------------------------------------------------------------------------------------------------
*/

params {
    // Edit acording to the location of the genome bundle 
    genomes {
//        'GRCh37' {                             <- TODO: Add GRCh37 genomes curated MSK bundle
//            fasta       = "${params.genome_base}pending"
//            fasta_fai   = "${params.genome_base}pending"
//            dict        = "${params.genome_base}pending"
//            bwa         = "${params.genome_base}pending"
//            bowtie2     = "${params.genome_base}pending"
//            star        = "${params.genome_base}pending"
//            bismark     = "${params.genome_base}pending"
//            gtf         = "${params.genome_base}pending"
//            bed12       = "${params.genome_base}pending"
//            readme      = "${params.genome_base}pending"
//            mito_name   = "MT"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${projectDir}pending"
//        }
        'GRCh38' {
            bwa         = "${params.genome_base}/bwa/"
            star        = "${params.genome_base}/star/"
            bowtie2     = "${params.genome_base}/bowtie2/"
            bismark     = "${params.genome_base}/bismark/"
            gtf         = "${params.genome_base}/ensembl/Homo_sapiens.GRCh38.112.gtf"
            dict        = "${params.genome_base}/gatk4/Homo_sapiens.GRCh38.112.all.dict"
            bed12       = "${params.genome_base}/portcullis/Homo_sapiens.GRCh38.112.bed"
            fasta       = "${params.genome_base}/ensembl/Homo_sapiens.GRCh38.112.all.fa"
            fasta_fai   = "${params.genome_base}/ensembl/Homo_sapiens.GRCh38.112.all.fa.fai"
            blocklist   = "${params.genome_base}/arriba/blocklist_hg38_GRCh38_v2.4.0.tsv.gz"
            mito_name   = "MT"
            macs_gsize  = "2.7e9"
        }
    }
}
